<div
  #agora_local
  id="agora_local"
  [class]="!localVideo ? 'local-hide' : 'local'"
  mwlDraggable
  dropData="foo"
  dragActiveClass="drag-active"
  [touchStartLongPress]="{ delay: 300, delta: 30 }"
></div>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12">
      <div class="remote" #remote id="remote">
        <ng-container *ngFor="let call of remoteCalls">
          <div [id]="call.id"></div>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="btn-container">
      <ion-fab-button
        shape="round"
        color="primary"
        size="small"
        (click)="toggleVideo()"
        ><ion-icon
          [name]="localVideo ? 'videocam' : 'videocam-off'"
        ></ion-icon></ion-fab-button
      ><ion-fab-button
        shape="round"
        color="danger"
        size="small"
        (click)="toggleAudio()"
        ><ion-icon [name]="localAudio ? 'mic' : 'mic-off'"></ion-icon
      ></ion-fab-button>
    </ion-col>
    <ion-col
      size="4"
      style="display: flex; justify-content: flex-end; align-items: center"
    >
      <ion-button size="small" color="warn" (click)="presentAlertConfirm()"
        ><ion-icon name="arrow-undo"></ion-icon>Leave</ion-button
      ></ion-col
    >
  </ion-row>
</ion-grid>
