.local {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  width: 35%;
  height: 30vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  background: #1d1d1d84;
}

.local:hover {
  position: fixed;
  left: 1rem;
  bottom: 5rem;
  width: 35%;
  height: 30vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
.local-hide {
  position: fixed;
  left: 1rem;
  bottom: 5rem;
  width: 35%;
  height: 30vh;
  border-radius: 5px;
  overflow: hidden;
  background: #1d1d1d;
  z-index: 1;
}
.local-hide:hover {
  position: fixed;
  left: 1rem;
  bottom: 5rem;
  width: 35%;
  height: 30vh;
  border-radius: 5px;
  overflow: hidden;
  background: #1d1d1d;
  z-index: 1;
}

.conference-btn {
  position: relative;
  z-index: 99;
  opacity: 0.5;
  .mic-btn {
    margin-top: 3rem;
  }
}
.remote {
  background: #565656;
  width: 100%;
  height: 80vh;
  z-index: -1;
  position: relative;
  p {
    position: absolute;
    margin: 0;
    text-align: center;
    width: 97.5%;
    padding: 0.5rem;
    background: #26184a8b;
    color: #fff;
    bottom: 0;
    z-index: 99;
    text-transform: uppercase;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
