<div
  #agora_local
  id="agora_local"
  [class]="!localVideo ? 'local-hide' : 'local'"
></div>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12">
      <div class="remote" #remote id="remote">
        <ng-container *ngFor="let call of remoteCalls">
          <div [id]="call.id"></div>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8" class="btn-container">
      <ion-button
        shape="round"
        color="primary"
        (click)="toggleVideo()"
        [fill]="localVideo ? '' : ''"
        ><ion-icon
          [name]="localVideo ? 'videocam' : 'videocam-off'"
        ></ion-icon></ion-button
      ><ion-button
        shape="round"
        color="danger"
        (click)="toggleAudio()"
        [fill]="localAudio ? '' : ''"
        ><ion-icon [name]="localAudio ? 'mic' : 'mic-off'"></ion-icon
      ></ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-grid>
