ion-fab-button[label] {
  position: relative;
}

ion-fab-button[label]::after {
  position: absolute;
  content: attr(label);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-dark);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.sub {
  font-size: 11px;
  color: #565656;
  text-align: center;
  margin: 0;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.upper-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    // background-color: #26184a;
    // background-image: linear-gradient(
    //   90deg,
    //   rgb(44, 14, 90) 18%,
    //   rgb(95, 47, 140) 100%
    // );
    background: #fff;
    h3 {
      color: #26184a;
      margin: 0;
      text-align: center;
      font-size: 25px;
      font-weight: 700;
    }
  }
  p {
    margin-bottom: 0.3rem;
    margin-top: 0;
    color: #fff;
    text-align: center;
  }
}

.date-up {
  margin: 0;
  color: #fff;
  font-size: 13px;
}

.btn-border {
  color: #fff;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
}
