<ion-content fullscreen color="light" *ngIf="!joinRoom"
  ><ng-container *ngFor="let sched of schedules">
    <ion-button (click)="joinMeeting(sched)" color="primary">{{
      sched.schedule | date: "medium"
    }}</ion-button></ng-container
  >
</ion-content>
<ion-content fullscreen color="light" *ngIf="joinRoom">
  <ion-toolbar color="light"
    ><ion-label *ngIf="currentDocument">{{
      currentDocument.refCode
    }}</ion-label></ion-toolbar
  >
  <app-conference
    [channelName]="currentSchedule._id"
    [me]="me"
    (onLeaveMeeting)="leaveMeeting($event)"
  ></app-conference>
</ion-content>
