<ion-header
  ><ion-toolbar color="primary" style="border: none; box-shadow: none">
    <ion-buttons>
      <ion-menu-button color="light"></ion-menu-button>
      <p color="light">Dashboard</p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen color="light">
  <div
    style="display: flex; justify-content: center"
    *ngFor="let c of chartConfig"
  >
    <ion-card>
      <highcharts-chart
        *ngIf="generated"
        class="chart"
        [Highcharts]="highcharts"
        [options]="c.chartOpt.chartOpt"
      >
      </highcharts-chart>
    </ion-card>
  </div>
</ion-content>
